Source: angrydd
Section: games
Priority: optional
Maintainer: Bart Martens <bartm@knars.be>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5), python | python-dev | python-all-dev, python-support (>= 0.5.3), python-pygame (>= 1.6.2)
Standards-Version: 3.7.2

Package: angrydd
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-pygame (>= 1.6.2)
Description: Angry Drunken Dwarves - falling blocks puzzle game
 In Angry, Drunken Dwarves, you are an angry, drunken dwarf. Why are you so
 angry? Who knows. But you've decided to take your aggression out on other
 dwarves, by dropping gems on their heads. Lots of gems. angrydd is a member of
 the classic "falling blocks" puzzle game family, similar to the Capcom game
 Puzzle Fighter. The goal of the game is to build large gems by matching up
 colors, then break them, raining more gems down onto your opponent. The first
 person whose field fills up, loses.  angrydd has seven playable characters,
 six levels of AI, secret game modes and characters, and an original
 soundtrack.
 .
  Homepage: http://www.sacredchao.net/~piman/angrydd/
